<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='css/hw1.css')}}" rel="stylesheet" type="text/css">  <!--Custom Stylesheet-->
    <title>Document</title>
</head>
<body>
    <!--Step One: Background-->
    <div class="outer-container">
        <div class="inner-container">

            <section>
                <div class="navbar">
                    <img src="logo.png" class="logo-image" style="order:1">
                    <nav>
                        <!--No Ordered List-->
                        <ul>
                            <li><a href="#">Services</a></li>
                            <li>.</li>
                            <li><a href="#">Blog</a></li>
                            <li>.</li>
                            <li><a href="#">Case Study</a></li>
                        </ul>
                    </nav>
                    <button class="navbar-button" style="order:3">Schedule Call</button>
                </div>
            </section>
        
        </div>
    </div>
</body>
</html>